@font-face {
    font-family:Rajdhani ;  
    src: url(../police/Rajdhani-Medium.ttf);
}
@font-face {
    font-family:SpaceGrotesk-Regular ;
    src: url(../police/SpaceGrotesk-Regular.ttf);
}
@font-face {
    font-family:SpaceGrotesk-bold ;
    src: url(../police/SpaceGrotesk-Bold.ttf);
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-yellow-01:#FFFF00;
    --color-yellow-02:#F8F184;
    --color-blue:#19587d75  ; 
    --color-red-01:#b11313;
    --color-red-02:#8900098e;
    --color-black-01:#000000;
    --color-black-02:#0d0e098c;
    --color-gray-01:#c4c4c4a2;
    --color-gray-02:#eddebf8a;
    --color-white:#ffffff;
    --color-border:#bcbbbd13;
    
}
/* design genérale */
.container{
    width:80%;
    margin: 0 auto;
    border-left: 2px solid var(--color-border);
    border-right: 2px solid var(--color-border);
}
.titre{
    padding: 0px 0px 0px 40px;
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 36px;
}
body{
    background-color: black;
    color: white;
    font-family:SpaceGrotesk-Regular;
    font-weight: 500;
}

/* design navigation */
nav{
    display:flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-position:top center;
    }
ul{
    list-style: none;
}
nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 36px ;
    font-family:Rajdhani ;
    color:var(--color-white);

}
nav ul li a:hover{
    color: var(--color-yellow-01);
    font-weight: bold;
    
}
nav ul li a:active{
    color:var(--color-yellow-01);
    font-weight: bold;
}

/* design header */
  #header{
    background-image: url(../../assets/Illustrations/Bathome1.png);
    height: 900px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--color-border);
  }
  .logohome{
    width: 100px;
    height: auto;
     }
  
  /* design scroll bar */
  #header .scroll-bar{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 200px;
    width: 100px;
    z-index: 999;
  }
 #header .logo-social img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    margin: 30px;
    z-index: 100;
  }
  /* .scroll-bar img:hover{
    filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(103%) hue-rotate(356deg)
    brightness(107%) contrast(100%);
  } */

/* design contenue */
#header .contenue{
    width:60%;
    text-align: center;
    border-top: none;
    border-bottom: none;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top:150px ;
    }
#header .titre{
    display: block;
    margin: 20px 0;
    font-family: "spaceGrotesk-bold";
    font-size: 30px;
    }
/* design button */
#header .btn{
    font-family: 'rajdhani';
    font-size: 20px;
    color: var(--color-white);
    padding: 10px 5Opx;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(80deg,rgba(245, 22O, 180, 0.2) 40% ,rgba(140, 0, 8, 0.2)60% );
    box-shadow: black 10px 10px 60px ;
    margin: 20px;
}
.btn:hover{
    font-family: "Rajdhani";
    font-size: 20px;
    color: var(--color-white);
    padding: 10px 50px;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(50deg,var(--color-gray-02)40%,var(--color-red-02)60%);
}
    /* design flèche down */
    .flèche-down{
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }

    /* design de la partie 2-BATMAN au cinéma */
    #batman-au-cinema{
        margin-top:  40px;
    }
    #batman-au-cinema .titre{
        font-weight: bold;
        margin:30px 0;
    }
    #batman-au-cinema .description{
        margin-bottom: 40px;
        text-align: justify;
        width:80% ;
        font-size: 21px;
    }
    .batman-personnage{
        display: flex;
        justify-content: space-between;
    }
    .perso-info{
        text-align: center;
        /* pour les sections 2 3 4 */

    }
    /* design de la partie 3- NEMESIS */
    #NÉMÉSIS{
        margin-top:  40px;
    }
    #NÉMÉSIS .titre{
        font-weight: bold;
        margin:30px 0;
    }
    #NÉMÉSIS .description{
        margin-bottom: 40px;
        text-align: justify;
        width:80% ;
        font-size: 21px;
    }

    .nemesis-personnage{
        display: flex;
        justify-content: space-between;

    }

    /* design de la partie 4-ALLIES */
    #allies{
        margin-top:  40px;
    }
    #allies .titre{
        font-weight: bold;
        margin:30px 0;
    }
    #allies .description{
        margin-bottom: 40px;
        text-align: justify;
        width:80% ;
        font-size: 21px;
    }

    .alliésPersonnage{
        display: flex;
        justify-content: space-between;
}
/* design de la partie 5-JUSTICE LEAGUE */
#JUSTICE{
    margin-top:  40px;
}
#JUSTICE.titre{
    font-weight: bold;
    margin:30px 0;
}
#JUSTICE .description{
    margin-bottom: 40px;
    text-align: justify;
    width:80% ;
    font-size: 21px;
}
/* section MULTIMEDIA */
#multimédia .slider-multimedia{
    display: flex;
    width: 60%;
    margin:auto;
    padding:40px;
    
}
#multimédia .slider-image{
    width: 100%;
}
#multimédia .slider-text{
    padding: 15px;
    background: linear-gradient(50deg,var(--color-gray-02)40%,var(--color-red-02)60%);
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    

}
#multimédia p{
    font-size: 12px;
}
#multimédia span{
    color:var(--color-yellow-01)
}
#multimédia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}
#multimédia .right{
    right: -85%;
}
/* design formulaire */
#contact{
    padding:70px 0;
}
#contact .form{
    width: 50%;
    margin: 0 auto;
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
#contat .titre{
    display: block;
    margin: 28px 0;
    
}
#contact .form input[type='email'],textarea,span.fréquence{
    display: block;
    border-top:none;
    border-right:none;
    border-left:none;
    width:80%;
    border-bottom: 2px solid white;
    background-color: transparent;
    padding: 10px 0;
}
#contact .icon img{
    transform:rotate(90deg);
    right: -550px;
    position: relative;
    width: 20px;
    }
#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid white;
    background-color: transparent;
}
.btn-groupe{
    padding: 10px;
    display: flex;
    justify-content:space-around;
}
.form input[type='radio']{
    opacity: 0;
}
.btn-groupe label{
    cursor: pointer;
}
input[type='submit']{
    width: 230px;
    margin: 25px auto;
    display: block;
    padding: 15px 0;
    cursor: pointer;
}
/* setion citation */
#citations{
    margin:90px;
}
#citations .citation-carte{
     text-align:center ;
     width: 50%;
     margin: auto;
}
#citations .citation-auteur{
    padding-top: 30px;
    font-size:  14px ;
    font-family: 'rajdhani';
}
#citations .guillemet-close{
    float: right;
}
/* footer */
footer{
    margin-top: 160px;
}
footer .text-footer{
    text-align: center;
    font-size: 10px;
}

footer .social-footer{
    text-align: center;
    margin:50px;
    justify-content: space-between;
    }
footer .is{
    justify-content: space-between;
    padding: 15px;
}
